# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Model outputs
sctt_results_*/
*.csv
!all_sctt_jrt.csv
!sctt_item-generalization_jrt.csv

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch
*.pth
*.pt
