# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Model outputs
sctt_results_*/
final_model_*/
checkpoint-*/
*.csv
!all_sctt_jrt.csv
!sctt_item-generalization_jrt.csv

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch & Model Files
*.pth
*.pt
*.bin
*.safetensors
*.onnx
*.h5
*.msgpack
*.ckpt

# Hugging Face cache
.cache/
transformers_cache/

# Local model directory
models/Llama-2-7b_sctt_regression/
